
<% if @gossip.errors.any? %>

<div class="alert alert-danger" role="alert">
  <p>  Sorry, your super gossip cannot be created because of the following: </p>
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



<br></br>
<h1 class="text-center"> Enter your Gossip here</h1>
<br></br>


<div class="row justify-content-center">
  <div class="col-6">

    <%=form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title', nil, :class =>"" %>
      <%= text_field_tag 'title', @gossip.title, :class => "form-control" %>
      <br>
      <%= label_tag 'Content', nil, :class =>"" %>
      <%= text_area_tag 'content', @gossip.content, :class => "form-control" %>
      <br>
      <%= label_tag 'Author', nil, :class =>"" %>
      <%= select_tag 'user', options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control", prompt: 'choose the user' %>
      <br>
      <div class="row justify-content-center">
      <%= submit_tag "Submit my gossip ðŸ¤™ðŸ¼", :class => "btn btn-secondary btn-lg" %>
</div>
      <% end %>
  </div>
</div>
